body{
    font-family: 'Lato', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    font-family: lato;
    list-style: none;
    text-decoration: none;
}

.container{
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    max-width: 1200px;
}

.active{
    border-bottom: 1px #fff solid;
}

/* Header */

header{
    position: relative;
    width: 100%;
}

.main-header img{
    width: 100%;
}

.overlay{
    width: 100%;
    position: absolute;
}

.overlay img{
    width: 110px;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.header-content .header-nav ul{
    display: flex;
    align-items: center;
}

.header-content .header-nav ul li{
    margin-left: 40px;
}

.header-content .header-nav ul li a{
    font-size: 20px;
    color: #fff;
}


.header-content .header-nav ul li.call{
    margin-left: 53px;
    border: 1px #fff solid;
    padding: 15px 65px;

}

.dec-header{
    margin-top: 150px;
    text-align: center;
    color: #fff;
}

.dec-header h1{
    font-size: 70px;
}

.dec-header p{
    font-size: 25px;
    margin-top: 15px;
}

.dec-sec{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.btn-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.btn-header .book{
    padding: 15px 70px;
    font-size: 18px;
    border: none;
    background-color: #285A43;
    color: #fff;
    border-radius: 8px;
}

.btn-header .video .icn{
    margin-right: 10px;
}

.btn-header .video{
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 15px 65px;
    font-size: 18px;
    background: none;
    border: 1px #fff solid;
    color: #fff;
    border-radius: 8px;

}

/* End Header */

/* Main */

.content h1{
    margin-top: 125px;
    font-size: 48px;
    color: #285A43;
    text-align: center;
    font-weight: bold;
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.grid-list{
    position: relative;
    margin-top: 50px;
}

.grid-list  img{
    width: 100%; 
    height: 350px;
    object-fit: cover;
  
}

.cart-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.cart-content h3{
    color: #285A43;
}
.cart-content p{
    color: rgb(152, 152, 152);
    text-decoration: line-through;
    font-size: 18px;
}

.cart-content p span{
    color:#285A43;
    margin-left: 10px;
    text-decoration: none;
}

.cart-content button{
    padding: 12px 30px;
    border: none;
    background: none;
    border: 1px solid #285A43;
    font-size: 18px;
    color: #285A43;
    font-weight: bold;
    border-radius: 8px;
}

.cart-content button.active{
    background-color: #285A43;
    color: #fff;
}

.main-second h1{
    margin-top: 200px;
    font-size: 48px;
    color: #285A43;
    text-align: center;
    font-weight: bold;
}


.grid-second{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    margin-top: 50px;
}

.grid-second img{
    width: 100%;
}

.item1 img{
    height: 100%;
    background-color: rgb(192, 192, 192);

}

.item1{
   
   grid-column: 1;
   grid-row: 1/3;
}
.item2{
    grid-column: 2;
}
.item3{
    grid-column: 3;
}
.item4{
    grid-column: 2;
    grid-row: 2;
}

.item5{
    grid-column: 3;
    grid-row: 2;
}


.main-third h1{
    margin-top: 125px;
    font-size: 48px;
    color: #285A43;
    text-align: center;
    font-weight: bold;
}

.grid-third .item .img{
    display: flex;
    align-items: center;
    margin-bottom: 38px;
}

.grid-third .item p{
    font-size: 18px;
    color: #121212;
}


.grid-third .item span{
    font-size: 22px;
    color: #285A43;
    margin-left: 16px;
}

.grid-third .item img{
    width: 75px;
}


.grid-third{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 65px;
    margin-top: 50px;
}

.grid-third .item{
    background-color: #F8F8F8;
    padding: 70px;
    border-radius: 10px;
}

.fourth-main{
    position: relative;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fourth-main h1{
    color: #fff;
    max-width: 60%;
    margin: auto;
    font-size: 38px;
}

.fourth-main img{
    width: 100%;
    background-color: #121212;
    background-attachment: fixed;
}

.fourth-main .overlay{
 position: absolute;
}

.fourth-main-flex{
    margin-top: 38px;
}

.overlay input {
    padding: 16px 10px;
    width: 35%;
    background: none;
    border: none;
    border: 1px solid #fff;
    border-radius: 8px;
    font-size: 16px;
    color: #ffffff;
    backdrop-filter: blur(3px);
}

.overlay input::placeholder {
    color: #fff;
}

.overlay button{
    padding: 16px 70px;
    margin-left: 14px;
    border-radius: 8px;
    border: none;
    background-color: #285A43;
    color: #fff;
    font-size: 18px;
    
}

.fifth-main h1{
    margin-top: 125px;
    font-size: 48px;
    color: #285A43;
    text-align: center;
    font-weight: bold;
}

.grid-fifth{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(50px, auto);
    gap: 65px;
    margin-top: 50px;
}

.grid-fifth .item h5{
    margin-top: 20px;
    color: #285A43;
    font-size: 22px;

}

.grid-fifth .item p{
    margin-top: 25px;
    color: #121212;
    font-size: 18px;
}

.grid-fifth .item img{
    width: 100%;
}

.grid-ff{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-auto-columns:minmax(100px, auto);
}

.grid-ff .txt{
    grid-column: 1/3;
    grid-row: 1;
    height: 120px;
}

.grid-ff .first{
    grid-row: 2/3;
    grid-column: 1; 
}

.grid-ff .first span{
    margin-left: 6px;
}

.grid-ff .second{
    grid-row: 2;
    grid-column: 2;
    text-align: right;

}

.grid-ff .second span{
    margin-right: 6px;
}

.item-ff .first{
    margin-top: -25px;
}

.item-ff .second{
    margin-top: -25px;
}

/* End Main */

/* Footer */

.footer-bg{
    background-color: #000000;
    height: 340px;
}

.footer-bg .content-footer{
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 50px 0;
}

.footer-bg .content-footer .media{
    font-size: 65px;
    margin-top: 40px;
}

.footer-bg .content-footer .media i{
  margin-left: 60px;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.footer-nav ul li a{
    color: #fff;
    margin-left: 50px;
    font-size: 18px;
}



/* Phone */

@media screen and (max-width: 600){
  
.main-grid{
    grid-template-columns: repeat(2, 1fr) !important;
    margin: auto !important;
}

.grid-list{
    margin-top: 0 !important;
}

.grid-list  img{
    width: 100% !important; 
    height: 150px !important; 
    margin-top: 40px !important;
}

.cart-content{
    right: 20 !important;
    left: 20 !important;
    margin-top: 0 !important;
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
}

.cart-content h3{
    font-size: 14px !important;
   text-align: center !important;
}
.cart-content p{
    font-size: 12px !important;
    text-align: center !important;
   margin-bottom: 4px !important;
}

.cart-content p span{
    margin-left: 6px !important;
}

.cart-content button{
    padding: 6px 10px !important;
    font-size: 10px !important;
    border-radius: 4px !important;
    width: 100% !important;
}

.main-second h1{
    margin-top: 120px !important;
    margin-bottom: -14px !important;
    font-size: 20px !important;
}

.main-third h1{
    margin-top: 50px !important;
    margin-bottom: -14px !important;
    font-size: 20px !important;
}

.grid-third{
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 20px !important;
    margin-top: 50px !important;
}



.dec-header{
    margin-top: 2px !important;
}

.dec-header h1{
    font-size: 10px !important;
    margin-top: 10px !important;
}

.dec-header p{
    font-size: 8px !important;
    margin-top: 6px !important;
}

.header-content{
    margin-top: 10px !important;
}

.header-content .header-nav ul li{
    margin-left: 6px !important;
}

.header-content .header-nav ul li a{
    font-size: 10px !important;
    color: #fff !important;
}


.header-content .header-nav ul li.call{
    margin-left: 16px !important;
    padding: 2px 8px 6px 8px !important;

}

.overlay img{
    width: 50px !important;
}


.btn-header{
    margin-top: 10px !important;
}

.btn-header .book{
    padding: 6px 12px !important;
    font-size: 10px !important;
    border-radius: 6px !important;
}

.btn-header .video .icn{
    margin-right: 8px !important;
}

.btn-header .video{
    margin-left: 8px !important;
    padding: 6px 12px !important;
    font-size: 10px !important;
    border-radius: 6px !important;
}

.content h1{
    margin-top: 20px !important;
    margin-bottom: -14px !important;
    font-size: 20px !important;
}


.fourth-main{
    margin-top: 80px !important;
}

.fourth-main h1{
    max-width: 70% !important;
    font-size: 12px !important;
}



.fourth-main-flex{
    margin-top: 8px !important;
}

.overlay input {
    padding: 8px 10px !important;
    width: 35% !important;
    border-radius: 8px !important;
    font-size: 10px !important;
}

.overlay button{
    padding: 8px 20px !important;
    margin-left: 8px !important;
    font-size: 10px !important;
    
}

.fifth-main h1{
    margin-top: 50px !important;
    margin-bottom: -14px !important;
    font-size: 20px !important;
}


.grid-fifth{
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 16px !important;
    margin-top: 50px !important;
}

.grid-fifth .item h5{
    margin-top: 10px !important;
    font-size: 16px !important;
    text-align: center !important;

}

.grid-fifth .item p{
    margin-top: 10px !important;
    font-size: 14px !important;
    text-align: center !important;
    width: 90% !important;
    margin: auto !important;
}

.grid-fifth .item img{
    width: 100% !important;
    height: 300px !important;
}


.grid-ff .first{
    grid-row: 2/3 !important;
    grid-column: 1/3 !important;
    text-align: center !important; 
}

.grid-ff .first span{
    margin-left: 6px !important;
}

.grid-ff .second{
    grid-row: 3 !important;
    grid-column: 1/3 !important;
    text-align: center !important;

}

.grid-ff .second span{
    margin-right: 4px !important;
}

.item-ff .first{
    margin-top: 0 !important;
}

.item-ff .second{
    margin-top: 0 !important;
}

.grid-ff{
    grid-template-columns: repeat(1, 1fr) !important;
    grid-auto-rows: minmax(30px, auto) !important;
    grid-auto-columns:minmax(20px, auto) !important;
}

.grid-ff .txt{
    grid-column: 1/3 !important;
    grid-row: 1 !important;
    height: 60px !important;
}

.footer-bg{
    height: 100% !important;
    margin-top: 50px !important;
}

.footer-bg .content-footer{
    font-size: 10px !important;
    padding: 30px 0 !important;
}

.footer-bg .content-footer .media{
    font-size: 30px !important;
    margin-top: 30px !important;
}

.footer-bg .content-footer .media i{
  margin-left: 35px !important;
}

.footer-nav ul{
    margin-top: 30px !important;
}

.footer-nav ul li a{
    margin-left: 20px !important;
    font-size: 10px !important;
}

}